@import "/src/styles/vars";
@import "/src/styles/mixins";

.nav {
  background-color: #f6f7f8;
  border-right: 1px solid #efefef;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  width: $nav-width;
  position: absolute;
  left: -$nav-width;
  top: 0;
  bottom: 0;
  z-index: 10;

  
  .navPinIcon {
    @include set-position(absolute, auto, 10px, 10px);
  }
}

.navExpanded {
  left: $left-nav-width;
  transition: $nav-cubic-bezier-transition;
}