@import "/src/styles/vars";
@import "/src/styles/mixins";

.nav {
  background-color: #f6f7f8;
  border-right: 1px solid #efefef;
  height: 100%;
  margin-left: $left-nav-width;
  overflow-x: hidden;
  overflow-y: auto;
  width: $nav-width;
  position: relative;

  .navPinIcon {
    @include set-position(absolute, auto, 10px, 10px);
  }
}