@import "/src/styles/vars";
@import "/src/styles/mixins";

.mainBar {
  @include set-flex(column, center, center);
  border-bottom: 1px solid $border-default-color;
  height: 56px;
  z-index: 497;
  margin-left: 48px;
  transition: transform .25s cubic-bezier(0.694, 0.0482, 0.335, 1);
  background-color: white;

  .mainBarWrapper {
    @include set-font($font-size-xl, $main-text-color, 700);
  }

  &.mainBarWithNav {
    transform: translateX(270px);
  }
}