@import "/src/styles/vars";
@import "/src/styles/mixins";

.appLayout {

  .appLayoutContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    
    .appLayoutBar {
      border-bottom: 1px solid $border-default-color;
      height: 56px;
    }

    .appLayoutContent {
      position: relative;
      padding: 20px 0;
      margin-left: $left-nav-width;
      height: 100%;
      transition: $nav-cubic-bezier-transition;
      background-color: white;
    }
    
    .appLayoutContentNavClosed {
      transform: translateX($nav-width);
    }
  }
}