@import "/src/styles/vars";
@import "/src/styles/mixins";

.appLayout {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;

  .appLayoutContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    // .appLayoutBar {
    //   border-bottom: 1px solid $border-default-color;
    //   height: 56px;
    // }

    .appLayoutContent {
      position: relative;
      padding: 0 0 20px;
      margin-left: $left-nav-width;
      height: 100%;
      transition: $nav-cubic-bezier-transition-layout;
      background-color: white;
      z-index: 1;
    }
    
    .appLayoutContentNavClosed {
      margin-left: $left-nav-width + $nav-width;
    }
  }
}