@import "/src/styles/vars";
@import "/src/styles/mixins";

.root {

  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .content {
      position: relative;
      padding: 20px 0;
      margin-left: $left-nav-width;
      height: 100%;
      transition: $nav-cubic-bezier-transition;
      background-color: white;
    }
    
    .contentNavClosed {
      transform: translateX($nav-width);
    }
  }
}