@import "/src/styles/vars";
@import "/src/styles/mixins";

.signinFormRoot {
  max-width: 320px;
  margin: 0 auto;

  .signinFormContent {

    h3 {
      text-align: center;
      margin-bottom: 10px;
    }

    .signinForm {
      @include set-flex(column);
      max-width: 300px;
      margin: 0 auto;
      
      .signinFormInput {
        margin-bottom: 10px;
      }
    }
  }
}
