@import "/src/styles/vars";
@import "/src/styles/mixins";

.card {
  min-width: 350px;
  margin: 0 auto;

  .cardContent {
    padding: 20px;

    .title {
      text-align: center;
      margin-bottom: 15px;
      font-weight: 400;

      span {
        color: $theme-main-color;
      }
    }

    .formBox {
      @include set-flex(column);
      margin: 0 auto;
      
      .input {
        margin-bottom: 15px;
      }

      .buttons {
        
        .button {
          width: 100%;
          margin-bottom: 10px;
        }

        .inline {
          font-size: 14px;
          text-align: center;

          a {
            font-weight: 700;
          }
        }
      }
    }
  }
}
